<pre>
 
Hello Mavis c/o JR Credit Limited,
Thank you for your order! Please find <a href="{{ link }}">here</a> for your payment.
Once finished, your order will be processed accordingly.

{{ message }}

Best regards
{{ salesman }}
Ergoseatings 

</pre>